<%= form_with(model: novel) do |form| %>
  <% if novel.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(novel.errors.count, "error") %> prohibited this novel from being saved:</h2>

      <ul>
        <% novel.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :name, style: "display: block" %>
    <%= form.text_field :name %>
  </div>

  <div>
    <%= form.label :pages, style: "display: block" %>
    <%= form.number_field :pages %>
  </div>

  <div>
    <%= form.label :author_id, style: "display: block" %>
    <%= form.text_field :author_id %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
